In [1]:
import boto3
import json
import pandas as pd

## Upload csv file downloaded from kaggle. 

https://www.kaggle.com/datasets/zanjibar/100-million-data-csv

In [26]:
data = pd.read_csv("dataset/custom_1988_2020.csv",
                   header=None)

In [27]:
len(data)

113607322

In [28]:
data.head(10)

        0  1    2    3          4  5      6      7
0  198801  1  103  100        190  0  35843  34353
1  198801  1  103  100  120991000  0   1590   4154
2  198801  1  103  100  210390900  0   4500   2565
3  198801  1  103  100  220890200  0   3000    757
4  198801  1  103  100  240220000  0  26000  40668
5  198801  1  103  100  250410000  0      5   8070
6  198801  1  103  100  271000700  0    374   2485
7  198801  1  103  100  271220000  0    400    616
8  198801  1  103  100  280300000  0   1900   2020
9  198801  1  103  100  280610000  0   1000    227

In [29]:
data.columns = ["year_month", "export_import", "country", "custom", "hs9", "q1", "q2", "value"]

convert to parquet file.

In [30]:
data.to_parquet('dataset/trade_1988_2020.parquet', engine='fastparquet')

In [2]:
s3 = boto3.client('s3')

In [3]:
# Try to create the bucket
try:
    s3.create_bucket(Bucket='trade-final-project-bucket')
except boto3.exceptions.S3ObjectAlreadyExistsError:
    print()

In [3]:
s3.upload_file("dataset/trade_1988_2020.parquet", "trade-final-project-bucket", "dataset/trade_1988_2020.parquet")